extends layout

block styles
  link(rel='stylesheet', href='/css/style.css')

block content
  nav(id="navbar")
    header FCC Technical Documentation Speedrun
  main(id="main-doc")
    section(class="main-section" id="Topic_1")
      header Topic 1
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nec dui nunc mattis enim ut. Egestas diam in arcu cursus euismod quis viverra. Tellus pellentesque eu tincidunt tortor aliquam nulla facilisi. Mattis nunc sed blandit libero. Nunc congue nisi vitae suscipit tellus. Sagittis aliquam malesuada bibendum arcu vitae. Donec enim diam vulputate ut pharetra sit. Ullamcorper dignissim cras tincidunt lobortis feugiat. Est lorem ipsum dolor sit. In metus vulputate eu scelerisque felis imperdiet proin.
        p Commodo quis imperdiet massa tincidunt nunc pulvinar sapien et. Scelerisque mauris pellentesque pulvinar pellentesque habitant. Amet mattis vulputate enim nulla aliquet porttitor. Eu scelerisque felis imperdiet proin fermentum leo vel orci. Magnis dis parturient montes nascetur ridiculus mus mauris. Enim sit amet venenatis urna cursus. Sed enim ut sem viverra aliquet eget sit amet. Fermentum dui faucibus in ornare. Eu volutpat odio facilisis mauris sit amet massa vitae. Vitae suscipit tellus mauris a diam maecenas sed enim ut. Enim diam vulputate ut pharetra sit amet aliquam id diam. Et tortor consequat id porta. Id venenatis a condimentum vitae sapien pellentesque habitant morbi tristique. Cum sociis natoque penatibus et. Enim diam vulputate ut pharetra sit. Nullam ac tortor vitae purus.
        code="<h2>Aenean commodo ligula eget dolor aenean massa</h2>"
    section(class="main-section" id="Topic_2")
      header Topic 2
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nec dui nunc mattis enim ut. Egestas diam in arcu cursus euismod quis viverra. Tellus pellentesque eu tincidunt tortor aliquam nulla facilisi. Mattis nunc sed blandit libero. Nunc congue nisi vitae suscipit tellus. Sagittis aliquam malesuada bibendum arcu vitae. Donec enim diam vulputate ut pharetra sit. Ullamcorper dignissim cras tincidunt lobortis feugiat. Est lorem ipsum dolor sit. In metus vulputate eu scelerisque felis imperdiet proin.
        p Commodo quis imperdiet massa tincidunt nunc pulvinar sapien et. Scelerisque mauris pellentesque pulvinar pellentesque habitant. Amet mattis vulputate enim nulla aliquet porttitor. Eu scelerisque felis imperdiet proin fermentum leo vel orci. Magnis dis parturient montes nascetur ridiculus mus mauris. Enim sit amet venenatis urna cursus. Sed enim ut sem viverra aliquet eget sit amet. Fermentum dui faucibus in ornare. Eu volutpat odio facilisis mauris sit amet massa vitae. Vitae suscipit tellus mauris a diam maecenas sed enim ut. Enim diam vulputate ut pharetra sit amet aliquam id diam. Et tortor consequat id porta. Id venenatis a condimentum vitae sapien pellentesque habitant morbi tristique. Cum sociis natoque penatibus et. Enim diam vulputate ut pharetra sit. Nullam ac tortor vitae purus.      
        code="<h2>Aenean commodo ligula eget dolor aenean massa</h2>"
    section(class="main-section" id="Topic3")
      header Topic 3
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nec dui nunc mattis enim ut. Egestas diam in arcu cursus euismod quis viverra. Tellus pellentesque eu tincidunt tortor aliquam nulla facilisi. Mattis nunc sed blandit libero. Nunc congue nisi vitae suscipit tellus. Sagittis aliquam malesuada bibendum arcu vitae. Donec enim diam vulputate ut pharetra sit. Ullamcorper dignissim cras tincidunt lobortis feugiat. Est lorem ipsum dolor sit. In metus vulputate eu scelerisque felis imperdiet proin.
        p Commodo quis imperdiet massa tincidunt nunc pulvinar sapien et. Scelerisque mauris pellentesque pulvinar pellentesque habitant. Amet mattis vulputate enim nulla aliquet porttitor. Eu scelerisque felis imperdiet proin fermentum leo vel orci. Magnis dis parturient montes nascetur ridiculus mus mauris. Enim sit amet venenatis urna cursus. Sed enim ut sem viverra aliquet eget sit amet. Fermentum dui faucibus in ornare. Eu volutpat odio facilisis mauris sit amet massa vitae. Vitae suscipit tellus mauris a diam maecenas sed enim ut. Enim diam vulputate ut pharetra sit amet aliquam id diam. Et tortor consequat id porta. Id venenatis a condimentum vitae sapien pellentesque habitant morbi tristique. Cum sociis natoque penatibus et. Enim diam vulputate ut pharetra sit. Nullam ac tortor vitae purus.      
        code="<h2>Aenean commodo ligula eget dolor aenean massa</h2>"
    section(class="main-section" id="Topic_4")
      header Topic 4
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nec dui nunc mattis enim ut. Egestas diam in arcu cursus euismod quis viverra. Tellus pellentesque eu tincidunt tortor aliquam nulla facilisi. Mattis nunc sed blandit libero. Nunc congue nisi vitae suscipit tellus. Sagittis aliquam malesuada bibendum arcu vitae. Donec enim diam vulputate ut pharetra sit. Ullamcorper dignissim cras tincidunt lobortis feugiat. Est lorem ipsum dolor sit. In metus vulputate eu scelerisque felis imperdiet proin.
        p Commodo quis imperdiet massa tincidunt nunc pulvinar sapien et. Scelerisque mauris pellentesque pulvinar pellentesque habitant. Amet mattis vulputate enim nulla aliquet porttitor. Eu scelerisque felis imperdiet proin fermentum leo vel orci. Magnis dis parturient montes nascetur ridiculus mus mauris. Enim sit amet venenatis urna cursus. Sed enim ut sem viverra aliquet eget sit amet. Fermentum dui faucibus in ornare. Eu volutpat odio facilisis mauris sit amet massa vitae. Vitae suscipit tellus mauris a diam maecenas sed enim ut. Enim diam vulputate ut pharetra sit amet aliquam id diam. Et tortor consequat id porta. Id venenatis a condimentum vitae sapien pellentesque habitant morbi tristique. Cum sociis natoque penatibus et. Enim diam vulputate ut pharetra sit. Nullam ac tortor vitae purus.      
        code="<h2>Aenean commodo ligula eget dolor aenean massa</h2>"
    section(class="main-section" id="Topic_5")
      header Topic 5
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nec dui nunc mattis enim ut. Egestas diam in arcu cursus euismod quis viverra. Tellus pellentesque eu tincidunt tortor aliquam nulla facilisi. Mattis nunc sed blandit libero. Nunc congue nisi vitae suscipit tellus. Sagittis aliquam malesuada bibendum arcu vitae. Donec enim diam vulputate ut pharetra sit. Ullamcorper dignissim cras tincidunt lobortis feugiat. Est lorem ipsum dolor sit. In metus vulputate eu scelerisque felis imperdiet proin.
        p Commodo quis imperdiet massa tincidunt nunc pulvinar sapien et. Scelerisque mauris pellentesque pulvinar pellentesque habitant. Amet mattis vulputate enim nulla aliquet porttitor. Eu scelerisque felis imperdiet proin fermentum leo vel orci. Magnis dis parturient montes nascetur ridiculus mus mauris. Enim sit amet venenatis urna cursus. Sed enim ut sem viverra aliquet eget sit amet. Fermentum dui faucibus in ornare. Eu volutpat odio facilisis mauris sit amet massa vitae. Vitae suscipit tellus mauris a diam maecenas sed enim ut. Enim diam vulputate ut pharetra sit amet aliquam id diam. Et tortor consequat id porta. Id venenatis a condimentum vitae sapien pellentesque habitant morbi tristique. Cum sociis natoque penatibus et. Enim diam vulputate ut pharetra sit. Nullam ac tortor vitae purus.      
        code="<h2>Aenean commodo ligula eget dolor aenean massa</h2>"
        ol
          li Point 1
          li Point 2
          li Point 3
          li Point 4
          li Point 5
          li Point 6
block scripts
  script(src='/js/client.min.js')
